
$plus-size: 20
$arrow-size: 10
$arrow-left: 10

=icon-add($color: $color-black, $background: transparent)
  +svg-icon($color, $background)
    +svg('line', (x1: 12, y1: 12 - $plus-size / 2, x2: 12, y2: 12 + $plus-size / 2))
    +svg('line', (x1: 12 - $plus-size / 2, y1: 12, x2: 12 + $plus-size / 2, y2: 12))

=icon-remove($color: $color-black, $background: transparent)
  +svg-icon($color, $background)
    +svg('line', (x1: 12 - $plus-size / 2, y1: 12, x2: 12 + $plus-size / 2, y2: 12))

=icon-arrow($color: $color-black, $background: transparent)
  +svg-icon($color, $background)
    +svg('polyline', (points: '#{$arrow-left},#{12 - $arrow-size} #{$arrow-left + $arrow-size},12 #{$arrow-left},#{12 + $arrow-size}'))

=icon-edit($color: $color-black, $background: transparent)
  +svg-icon($color, $background)
    +svg('polyline', (points: '2,16 16,2 20,6 6,20'))
    +svg('polyline', (points: '14,4 18,8'))
    +svg('polygon', (points: '6,20 2,20 2,16', style: "fill:#{$color}"))
