$plus-size: 20
$arrow-size: 10
$arrow-left: 10

// Reference: https://feathericons.com/

=icon-add($color: $color-black, $background: transparent)
  +svg-icon($color, $background)
    +svg('line', (x1: 12, y1: 12 - $plus-size / 2, x2: 12, y2: 12 + $plus-size / 2))
    +svg('line', (x1: 12 - $plus-size / 2, y1: 12, x2: 12 + $plus-size / 2, y2: 12))

=icon-remove($color: $color-black, $background: transparent)
  +svg-icon($color, $background)
    +svg('line', (x1: 12 - $plus-size / 2, y1: 12, x2: 12 + $plus-size / 2, y2: 12))

=icon-arrow($color: $color-black, $background: transparent)
  +svg-icon($color, $background)
    +svg('polyline', (points: '#{$arrow-left},#{12 - $arrow-size} #{$arrow-left + $arrow-size},12 #{$arrow-left},#{12 + $arrow-size}'))

=icon-edit($color: $color-black, $background: transparent)
  +svg-icon($color, $background)
    +svg('polyline', (points: '2,16 16,2 20,6 6,20'))
    +svg('polyline', (points: '14,4 18,8'))
    +svg('polygon', (points: '6,20 2,20 2,16', style: "fill:#{$color}"))

=icon-drag($color: $color-black, $background: transparent)
  +svg-icon($color, $background)
    +svg('polyline', (points: '0,8, 24,8'))
    +svg('polyline', (points: '0,12, 24,12'))
    +svg('polyline', (points: '0,16, 24,16'))

=icon-copy($color: $color-black, $background: transparent)
  +svg-icon($color, $background)
    +svg('rect', (x: 9, y: 9, width: 13, height: 13, rx: 2, ry: 2))
    +svg('path', (d: 'M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1'))

=icon-paste($color: $color-black, $background: transparent)
  +svg-icon($color, $background)
    +svg('rect', (x: 8, y: 2, width: 8, height: 4, rx: 1, ry: 1))
    +svg('path', (d: 'M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2'))
