@mixin svg-icon($color: $color-black, $background: transparent) {
  background: $background no-repeat left;
  background-origin: content-box;
  @include svg((
    viewBox: "0 0 24 24",
    preserveAspectRatio: "xMinYMid",
    style: "fill:none;stroke:#{$color};stroke-width:1.8;stroke-linecap:round;stroke-linejoin:round"
  )) {
    @content;
  }
}
