@mixin svg-icon($color: $color-black, $background: transparent) {
  background: $background no-repeat left;
  background-origin: content-box;
  @include svg((
    viewBox: "0 0 20 20",
    preserveAspectRatio: "xMinYMid",
    style: "fill:none;stroke:#{$color};stroke-width:1.5"
  )) {
    @content;
  }
}
