backend/node_modules/
backend/dist/
backend/assets/

frontend/node_modules/
frontend/.nuxt/
frontend/files/
frontend/styles/

e2e/node_modules/

utils/node_modules/
utils/lib/

styles/node_modules/
styles/lib/

font-scripts/
