@use 'sass:color';

// Dimensions
// A simple input element is twice the height of the font-size, so `2em`:
$input-height-factor: 2;
$input-height: 1em * $input-height-factor;

// Colors
$color-dark-offset: 2%;
$color-light-offset: 2%;

$color-black: hsl(0, 0%, 5%);
$color-darkest: hsl(0, 0%, 10% - $color-dark-offset);
$color-darker: hsl(0, 0%, 20% - $color-dark-offset);
$color-dark: hsl(0, 0%, 30% - $color-dark-offset);
$color-grey: hsl(0, 0%, 50%);
$color-light: hsl(0, 0%, 80% - $color-light-offset);
$color-lighter: hsl(0, 0%, 90%- $color-light-offset);
$color-lightest: hsl(0, 0%, 95% - $color-light-offset);
$color-white: hsl(0, 0%, 100%);

$color-active: hsl(211, 100%, 61%);
// ActiveBorder
$color-highlight: hsl(211, 100%, 85%);
// Highlight
$color-success: hsl(141, 71%, 48%);
// hsl(138, 50%, 61%) // hsl(141, 71%, 48%)
$color-warning: hsl(44, 100%, 64%);
// hsl(36, 100%, 64%) // hsl(48, 100%, 67%)
$color-error: hsl(348, 100%, 61%);
// hsl(4, 76%, 58%) // hsl(348, 100%, 61%)
$color-black: hsl(0, 0%, 4%);

$color-white: hsl(0, 0%, 100%);

$color-text: $color-black;
$color-text-inverted: $color-white;
$color-placeholder: $color-grey;
$color-disabled: $color-grey;
$color-shadow: rgba($color-black, 0.25);

// Borders
$border-radius: 4px;
$border-color: $color-light;
$border-width: 1px;
$border-style: $border-width solid $border-color;

// Shadows
$shadow-window: 0 2px 6px 0 $color-shadow;
$shadow-focus: 0 0 0 $border-width $color-active; // Use shadow as 1px border.

// Input
$input-padding-ver: 3px;
$input-padding-hor: 6px;
$input-padding: $input-padding-ver $input-padding-hor;

// Select
$select-arrow-width: 2em;
$select-arrow-size: 0.5em;
$select-arrow-bottom: 2px;

// Popup
$popup-margin: 2px 0;

// Button
$button-color: $color-lighter;
$button-color-hover: color.adjust($button-color, $lightness: -5%);
$button-color-active-hover: color.adjust($button-color, $lightness: -7.5%);
$button-color-active: color.adjust($button-color, $lightness: -10%);
$button-color-active-border: color.adjust(
  $button-color-active,
  $lightness: -10%
);

// Use more horizontal padding due to the rounding
// This padding even works for icons, since 2 * 0.9em < 2em and icons are
// positioned absolutely:
$button-round-padding-ver: 0.3em;
$button-round-padding-hor: 0.9em;
$button-round-padding: $button-round-padding-ver $button-round-padding-hor;

// Chevron
$chevron-indent: 1.2em;

// Easings
// http://easings.net/zh-cn#easeOutQuart
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
// http://easings.net/zh-cn#easeOutQuint
$ease-put-quint: cubic-bezier(0.23, 1, 0.32, 1);
// http://easings.net/zh-cn#easeOutCirc
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
// http://easings.net/zh-cn#easeOutElastic
$ease-out-elastic: cubic-bezier(0.64, 0.57, 0.67, 1.53);

// Math
/* stylelint-disable-next-line number-max-precision */
$math-sqrt2: 1.4142135623730951;
