@use 'sass:color';

.dito-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: $button-color;
  color: $color-text;
  position: relative;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: $input-padding;
  white-space: nowrap;
  // For icons:
  min-width: 1.5em;
  min-height: 1.5em;
  @include user-select(none);

  &--affixed {
    display: inline-grid;
    grid-template-columns: 1fr auto 1fr;
  }

  &__text,
  &__prefix,
  &__suffix {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__prefix {
    justify-content: flex-start;
  }

  &__suffix {
    justify-content: flex-end;
  }

  &:focus {
    border-color: $color-active;
  }

  &:hover {
    background: $button-color-hover;
  }

  &:active {
    background: $button-color-active-hover;
    border-color: $button-color-active-border;
    box-shadow: inset 0 1px 2px 0 $color-shadow;
  }

  &--selected {
    background: $button-color-active;

    &:hover {
      background: $button-color-active-hover;
    }
  }

  &--active,
  &[type='submit'] {
    color: $color-text-inverted;
    background: $color-active;
    border-color: $color-active;

    &:active {
      border-color: color.adjust($color-active, $lightness: -10%);
    }

    &:hover {
      background: color.adjust($color-active, $lightness: -7.5%);
    }

    &:focus {
      border-color: color.adjust($color-active, $lightness: -25%);
    }
  }

  &--disabled,
  &[disabled] {
    @extend %button-disabled;
  }
}

.dito-buttons {
  --button-margin: 2px;

  display: flex;
  justify-content: flex-end;
  white-space: nowrap;

  &,
  &__group {
    > * {
      margin-left: var(--button-margin);

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__group + &__group {
    margin-left: 1.5em;
  }

  &--round {
    .dito-button {
      padding: $button-round-padding;
      min-width: $input-height;
      min-height: $input-height;
      border-radius: 1em;
    }
  }

  &--small {
    --button-margin: 1px;
  }

  &--round,
  &--small {
    line-height: 1em;
  }

  &--toolbar {
    justify-content: flex-start;

    .dito-button {
      box-sizing: content-box;
      padding: 0 $input-padding-hor;
      // Zoom icons a little
      i[class*='dito-icon-'] {
        width: 1.1em;
      }
    }
  }
}
