@use 'sass:math';

.dito-button {
  // .dito-button with order-arrows:
  &__order-arrows {
    display: inline-block;
    width: math.round($button-order-arrow-size * $math-sqrt2);
    padding-left: $form-spacing;

    $arrow-offset: calc($button-order-arrow-size / 2 + $border-width);

    &::before {
      @include arrow($button-order-arrow-size, 'up');

      bottom: $arrow-offset;
    }

    &::after {
      @include arrow($button-order-arrow-size, 'down');

      top: $arrow-offset;
    }
  }

  &--order-asc &__order-arrows {
    &::before {
      bottom: 0;
    }

    &::after {
      display: none;
    }
  }

  &--order-desc &__order-arrows {
    &::before {
      display: none;
    }

    &::after {
      top: 0;
    }
  }

  &--create:empty::before {
    content: 'Create';
  }

  &--add:empty::before {
    content: 'Add';
  }

  &--delete:empty::before {
    content: 'Delete';
  }

  &--remove:empty::before {
    content: 'Remove';
  }

  &--edit:empty::before {
    content: 'Edit';
  }

  &--clear:empty::before {
    content: 'Clear';
  }

  &--save:empty::before {
    content: 'Save';
  }

  &--apply:empty::before {
    content: 'Apply';
  }

  &--login:empty::before {
    content: 'Login';
  }

  &--ok:empty::before {
    content: 'OK';
  }

  &--cancel:empty::before {
    content: 'Cancel';
  }

  &--close:empty::before {
    content: 'Close';
  }

  &--drag:empty::before {
    content: 'Drag';
  }

  &--copy:empty::before {
    content: 'Copy';
  }

  &--paste:empty::before {
    content: 'Paste';
  }

  &--drag {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  &--overlay {
    $overlay-inset: calc(2 * $border-width);

    position: absolute;
    inset: $overlay-inset;
    left: unset;
    padding: 0;
    border: 0;
    border-radius: $border-radius;
    cursor: pointer;

    &.dito-button--clear {
      width: calc(2em - 2 * ($border-width + $overlay-inset));
      display: none;

      @at-root .dito-component:hover:not(:has(.dito-component)) & {
        display: block;
      }

      &::before {
        @extend %icon-clear;

        color: $color-grey;
      }

      &:hover::before {
        color: $color-black;
      }
    }
  }
}

.dito-buttons {
  // TODO: BEM

  &--large {
    --button-margin: 3px;

    font-size: $header-font-size;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: $content-padding;

    .dito-container {
      // Do not specify this on .dito-buttons directly as it would break borders
      margin-top: $content-padding;
    }

    .dito-button {
      border-radius: 2em;
      padding: $button-round-padding;
    }
  }

  &--main {
    border-top: $border-style;
  }

  &--sticky {
    align-self: flex-end;
    position: sticky;
    bottom: 0;
    z-index: $z-index-main-buttons;
    background: $content-color-background;
    margin-top: 2 * $content-padding;
    margin-bottom: calc(-1 * var(--pane-padding, 0px));
    box-shadow: 0 (-$content-padding) $content-padding (-$content-padding)
      $color-shadow;

    &:empty {
      display: none;
    }
  }

  &--round,
  &--small {
    // For now, nothing for these:
    // .dito-button--create:empty::before,
    // .dito-button--add:empty::before

    .dito-button--upload:empty::before {
      @extend %icon-upload;
    }

    .dito-button--delete:empty::before,
    .dito-button--remove:empty::before {
      @extend %icon-remove;
    }

    .dito-button--edit:empty::before {
      @extend %icon-edit;
    }

    .dito-button--clear:empty::before {
      @extend %icon-clear;
    }

    .dito-button--drag:empty::before {
      @extend %icon-drag;
    }

    .dito-button--copy:empty::before {
      @extend %icon-copy;
    }

    .dito-button--paste:empty::before {
      @extend %icon-paste;
    }
  }
}
