$text-types: text, number, url, tel, email, date, time
$text-inputs: 'textarea.dito-component'
@each $type in $text-types
  $text-inputs: '#{$text-inputs}, input.dito-component[type=#{$type}]'

#{$text-inputs}
  box-shadow: inset $border-shadow

#{$text-inputs},
.dito-select select
    appearance: none
    border: $border-style
    border-radius: $border-radius
    line-height: $line-height
    margin: 0
    padding: $input-padding
    background: white
    &:focus
      outline: none
      border-color: $color-active
    &.dito-has-errors
      border-color: $color-error
