input.dito-component,
textarea.dito-component,
  box-shadow: inset $border-shadow

input.dito-component,
textarea.dito-component,
.dito-select select
    appearance: none
    border: $border-style
    border-radius: $border-radius
    line-height: $line-height
    margin: 0
    padding: $input-padding
    background: white
    &:focus
      outline: none
      border-color: $color-active
    &.dito-has-errors
      border-color: $color-error

.dito-select
  display: inline-block
  position: relative
  select
    padding-right: 3em
