.dito-layout {
  &--vertical,
  &--horizontal {
    display: flex;

    > * {
      flex: 0 0 auto;
      display: flex;
    }
  }

  &--horizontal {
    gap: $form-spacing;
  }

  &--vertical {
    flex-direction: column;
  }
}
