.dito-layout-vertical
  display: table
  border-spacing: 0
  > *
    display: table-row
    > *
      display: table-cell

.dito-layout-horizontal
  display: table-row
  > *
    display: table-cell
    & + *
      padding-left: $form-spacing
