.dito-layout-vertical,
.dito-layout-horizontal {
  display: flex;

  > * {
    flex: 0 0 auto;
    display: flex;
  }
}

.dito-layout-horizontal {
  gap: $form-spacing;
}

.dito-layout-vertical {
  flex-direction: column;
}
