.dito-layout-vertical,
.dito-layout-horizontal {
  display: flex;

  > * {
    flex: 1;
    display: flex;
  }
}

.dito-layout-vertical {
  flex-direction: column;
}

.dito-layout-horizontal {
  > *:not(:first-child) {
    padding-left: $form-spacing;
  }
}
