=type($background, $darken: 12)
  background: $background
  border-left: 0
  border-top: 8px solid darken($background, $darken)
  color: $color-white
  border-radius: $border-radius

.notification
  padding: 8px
  margin: 12px 12px 0
  font-size: inherit
  color: $color-white
  &,
  &.info
    +type($color-active)
  &.success
    +type($color-success)
  &.warning
    +type($color-warning)
  &.error
    +type($color-error)
