@import '../styles/_imports';

ul.dito-pulldown {
  display: none;
  position: absolute;
  top: 0;
  z-index: 1000;
  border-radius: $pulldown-radius;
  box-shadow: $shadow-window;
  overflow: hidden;

  &.dito-open {
    display: block;
  }

  li {
    @include user-select(none);

    a {
      display: block;
      padding: $pulldown-padding;
      line-height: 1;
      background: $button-color;

      &.dito-disabled {
        color: $color-disabled;
        cursor: default;
      }

      &:not(.dito-disabled):hover {
        background: $color-active;
        color: $color-white;
      }
    }
  }
}
