@import '../styles/_imports';

.dito-pulldown {
  $self: &;

  display: none;
  position: absolute;
  top: 0;
  z-index: $z-index-popup;
  border-radius: $pulldown-radius;
  box-shadow: $shadow-window;
  overflow: hidden;

  &--open {
    display: block;
  }

  li {
    @include user-select(none);
  }

  &__item {
    display: block;
    padding: $pulldown-padding;
    line-height: 1;
    background: $button-color;

    &--disabled {
      color: $color-disabled;
      cursor: default;
    }

    &:not(&--disabled):hover {
      background: $color-active;
      color: $color-white;
    }
  }
}
