.dito-scroll {
  flex: 1;
  max-height: 100%;
  overflow: auto;
}

.dito-scroll-parent {
  // To make vertical scrolling in .dito-scroll work:
  flex: 1;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}
