@import 'mixins/arrow'

.dito-select
  display: inline-block
  position: relative
  select
    padding-right: 3em

.dito-select::after,
.dito-multiselect .multiselect__select::before
  +arrow($select-arrow-size)
  bottom: 2px

.dito-select::after
  right: $select-right-margin
