// Global
$font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
$font-size: 12px

// Borders
$border-radius: 3px
$border-color: #ccc
$border-width: 1px
$border-shadow: 0 1px 1px 0 rgba(33,33,33,0.1)
$border-style: $border-width solid $border-color

// Tabs
$tab-padding-hor: 6px
$tab-padding-ver: 4px

$tab-color-background: #fff
$tab-color-inactive: #eee
$tab-color-active: #ccc
$tab-color-hover: #ddd
