// Typography
$font-family-sans: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  'Helvetica', 'Arial', sans-serif;
$font-family-mono: 'Menlo', 'Consolas', 'Monaco', 'Vera Mono', 'Andale Mono',
  'Ubuntu Mono', monospace;
$font-size: 13px;
$font-size-small: 11px;
// Adjust line-height so that it fulfils this equation, which is used
// to reach equal height for icon-buttons (`height: 2em`), table headers & co.:
// `(2 * $font-size - 2 * ($border-width + $input-padding-ver)) / $font-size`
// TODO: Ideally, this would be handled in @ditojs/ui, but it would have to be
// done in a way independent of `$font-size`. The right approach would probably
// be to use `$input-height` and vertical centering instead for all inputs that
// have a height of one line?
// NOTE: Due to higher precision in dart-sass, this needs to be rounded to 5
// fractional digits, otherwise CSS creates the wrong resulting line-height with
// 1 missing pixel.
$line-height: rounded(
  calc(
    $input-height-factor - 2 * ($border-width + $input-padding-ver) / $font-size
  ),
  5
);

// Button
$button-order-arrow-size: 4px;

// Pulldown
$pulldown-radius: 0.5em;
$pulldown-padding-ver: 0.5em;
$pulldown-padding-hor: 1em;
$pulldown-padding: $pulldown-padding-ver $pulldown-padding-hor;

// Content
$content-width: 900px;
$content-width-wide: 1400px;
$content-padding: 16px;
$content-padding-half: calc($content-padding / 2);
$content-color-background: $color-lightest;

// Sidebar
$sidebar-max-width: 360px;
$sidebar-min-width: 200px;

// Form
$form-spacing: $input-padding-hor;
$form-spacing-half: calc($form-spacing / 2);

// Header
$header-font-size: 14px;
$header-line-height: 1;
$header-padding-ver: $header-font-size;
$header-padding-hor: $content-padding;
$header-padding: $header-padding-ver $header-padding-hor;
$header-height: $header-font-size + 2 * $header-padding-ver;

// Tabs
$tab-margin: $form-spacing;
$tab-padding-hor: 2 * $tab-margin;
$tab-padding-ver: calc(($header-padding-ver * 2 - $tab-margin) / 2);
$tab-radius: 4px;

// Menu
$menu-font-size: $header-font-size;
$menu-line-height: $header-line-height;
$menu-spacing: 4px;
$menu-padding-ver: $header-padding-ver - $menu-spacing;
$menu-padding-hor: $header-padding-hor - $menu-spacing;
$menu-padding: $menu-padding-ver $menu-padding-hor;

// Z-Indices
$z-index-dialog: 4000;
$z-index-drag-overlay: 3000;
$z-index-notifications: 2500;
$z-index-header: 2000;
$z-index-tippy: 750;
$z-index-main-buttons: 500;

// Patterns
$pattern-transparency-size: ($font-size - $border-width) * $input-height-factor;
$pattern-transparency: repeating-conic-gradient(
    transparent 0% 25%,
    #eeeeee 0% 50%
  )
  0% 0% / #{$pattern-transparency-size} #{$pattern-transparency-size};
