.dito-table
  display: table
  border-spacing: 0
  > *
    display: table-row
    > *
      display: table-cell

.dito-horizontal
  display: table-row
  > *
    display: table-cell
    & + *
      padding-left: $form-spacing
