@mixin table-border {
  // Note: No border-width set here on purpose!
  border-style: solid;
  border-color: $border-color;
}

@mixin table-border-left {
  border-left-width: $border-width;
}

@mixin table-border-right {
  border-right-width: $border-width;
}

@mixin table-border-top {
  border-top-width: $border-width;
}

@mixin table-border-bottom {
  border-bottom-width: $border-width;
}

@mixin table-border-top-left {
  @include table-border-top;
  @include table-border-left;

  border-top-left-radius: $border-radius;
}

@mixin table-border-top-right {
  @include table-border-top;
  @include table-border-right;

  border-top-right-radius: $border-radius;
}

@mixin table-border-bottom-left {
  @include table-border-bottom;
  @include table-border-left;

  border-bottom-left-radius: $border-radius;
}

@mixin table-border-bottom-right {
  @include table-border-bottom;
  @include table-border-right;

  border-bottom-right-radius: $border-radius;
}

.dito-table {
  $self: &;

  --separator-width: #{$border-width};

  width: 100%;
  height: min-content;
  border-radius: $border-radius;

  > tbody,
  > tfoot {
    > tr {
      vertical-align: baseline;

      > td {
        padding: $form-spacing 0 $form-spacing $form-spacing;
        background: $content-color-background;

        &:last-child {
          padding-right: $form-spacing;
        }
      }
    }
  }

  &__buttons {
    width: 1%;

    &,
    .dito-button {
      // To align better with `vertical-align: baseline` in normal td:
      vertical-align: top;
    }
  }

  &--larger-padding {
    // Add more spacing to cells in tables except those containing edit buttons,
    // to better align cell texts with edit buttons.
    td:not(#{$self}__buttons) {
      $padding: $form-spacing * 1.5;

      padding: $padding 0 $padding $padding;
    }
    // Variants of list styles: separators and alternate colors.
  }

  &--separators {
    > tbody > tr + tr,
    > tbody:not(:empty) + tfoot > tr {
      > td {
        border-top: var(--separator-width) solid $border-color;
      }
    }
  }

  &--alternate-colors {
    > tbody > tr:nth-child(odd),
    &#{$self}--even-count > tfoot > tr {
      > td {
        background: $color-white;
      }
    }
  }

  &--background {
    > tbody,
    > tfoot {
      > tr > td {
        background: $color-white;
      }
      // Add top/top-left/top-right borders to the thead cells, using the special
      // convention that they're added to the first element inside them instead of
      // the cell itself, so buttons can keep the border themselves and display
      // focus nicely.
    }
  }

  > thead > tr > th {
    // Use `:not(:focus)` to avoid overriding button focus border styling.
    > * {
      box-sizing: content-box;

      &:not(:focus) {
        @include table-border;
      }

      @include table-border-top;
      @include table-border-bottom;
      @include table-border-left;
      @include table-border-right;
    }

    &:first-child > * {
      @include table-border-top-left;
    }

    &:last-child > * {
      @include table-border-top-right;
    }

    & + th > * {
      margin-left: -1px;
      // Don't cover the focused border of buttons:
      &:focus {
        z-index: 1;
      }
      // Add left/right borders to the normal tbody cells.
    }
  }

  > tbody > tr > td {
    border: 0;
    @include table-border;

    &:first-child {
      @include table-border-left;
    }

    &:last-child {
      @include table-border-right;
    }
    // If there is no thead, add top/top-left/top-right borders borders to the
    // first row of the tbody cells.
  }

  > tbody:first-child > tr:first-child > td,
  /* Use :first-child to exclude situation where there's a thead and empty tbody*/
  > tbody:first-child:empty + tfoot > tr > td {
    @include table-border-top;

    &:first-child {
      @include table-border-top-left;
    }

    &:last-child {
      @include table-border-top-right;
    }
    // If there is no toot, add top/top-left/top-right borders borders to the
    // first row of the tbody cells.
  }

  > tbody:last-child > tr:last-child > td {
    @include table-border-bottom;

    &:first-child {
      @include table-border-bottom-left;
    }

    &:last-child {
      @include table-border-bottom-right;
    }
    // Add bottom/bottom-left/bottom-right borders to the thead cells.
  }

  > tfoot > tr > td {
    border-width: 0;
    @include table-border;
    @include table-border-bottom;

    &:first-child {
      @include table-border-bottom-left;
    }

    &:last-child {
      @include table-border-bottom-right;
    }
  }

  #{$self} & {
    // Nested .dito-table
    margin: 0;
  }
}
