.dito
  &,
  input,
  button
    font-family: $font-family
    font-size: $font-size
  input,
  button
    margin: 0
  a
    color: #000
    text-decoration: none
  .dito-buttons
    // Can't use button + button with margin-left, due to reordering (submit)
    margin: 0 -1px
    button
      margin: 0 1px
