.dito-fade-enter-active {
  animation: dito-fade-enter 0.2s $ease-out-quart;
}

.dito-fade-leave-active {
  animation: dito-fade-leave 0.2s $ease-out-quart;
}

@keyframes dito-fade-enter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes dito-fade-leave {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
