%field {
  border: $border-style;
  border-radius: $border-radius;
  box-sizing: border-box;
  margin: 0;
  padding: $input-padding;
  background: $color-white;

  .dito-container--has-errors & {
    border-color: $color-error;
  }

  &:disabled,
  .dito-container--disabled & {
    color: $color-disabled;
    pointer-events: none;
    cursor: text;

    button {
      @extend %button-disabled;
    }
  }
}
