%input {
  @extend %field;

  appearance: none;

  &::placeholder {
    color: $color-placeholder;
  }

  &:focus,
  &:focus-within,
  &.dito-focus {
    &,
    .dito-inherit-focus {
      border-color: $color-active;
    }
  }
}
%input-height {
  height: $input-height;
  line-height: $input-height;
}

%input-borderless {
  @extend %input-height;
  // This silent class is to be used on types that don't have borders around
  // them that would naturally size them correctly, and need modification of
  // their height + vertical alignment so that they align on the same baseline
  // as all the other inputs: 'radio', 'checkbox', 'checkboxes'.
  display: inline-flex;
  align-items: center;
}
