@mixin reset {
  h1,
  h2,
  h3,
  h4,
  h5,
  input,
  select,
  button,
  textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a,
  input,
  select,
  button,
  textarea {
    &:focus {
      outline: none;
    }

    &::-moz-focus-outer,
    &::-moz-focus-inner {
      border: none;
    }
  }

  select {
    // Mozilla weirdly renders a select outline with the text color. We can only
    // turn it off by setting color to transparent and rendering the text as a
    // text-shadow instead. ¯\_(ツ)_/¯
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 var(--color-text, black);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
    }
  }

  table {
    border-spacing: 0;
  }

  a,
  button {
    cursor: pointer;
  }

  label {
    &,
    * {
      @include user-select(none);
    }
  }
}
